<!DOCTYPE html>
<html>
<body background="C:\Users\Rebecca Phillips\Desktop\Spring 2018\Software Engineering\scheduler\welcome\static\welcome\images\newcollege.jpg">

<h1>Welcome to the New College course scheduler!</h1>
<p>This is where you can put in your perfered class times and locations! 
</p>
<ul>
	<li><a href=http://127.0.0.1:8000/login/>This is where you login!</a></li>
  <li><a href=http://127.0.0.1:8000/input/>This is where you input your new classes!</a></li>
</ul>

</body>
</html>
