{% extends 'base_html.html' %}

{% load static from staticfiles %}

{% block content %}
	<head>
		<meta charset = "utf-8">
		<title>Home Page</title>
		<link rel = "stylesheet" href="{% static 'styles.css' %}">
	</head>

	<body>
        
		{% if user.is_authenticated %}
        
		<h1>Welcome, {{user}}</h1>
		<p>Here are your classes:</p>
        
		{% else %}
        
		<h1>Welcome to the New College Course Scheduler</h1>
		<p>Please sign up or Login to view or add courses</p>
		{% endif %}
        
	</body>

{% endblock %}
