body{
	background-color:#0f1d9b;
	background-image: url(cats.jpg);
	background-repeat-y:repeat;
	color:black;
}

body*{
	font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
	font_weight:normal;
	margin: 0;
}

a, a:hover, a:visited{
	color:black;
	text-decoration: none;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
}

div.wrapper h1{
	text-align: center;
	margin: 100px auto;
	font-size: 2.4em;
}

header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px 0;
}

nav{
	justify-self: end;
}

nav li{
	background-color:aliceblue;
	display: inline-block;
	margin-left: 20px;
}

nav button{
	font-family: "Courier New", Courier, monospace;
	color:black;
	background: none;
	cursor: pointer;
	border: 0;
	font-size: 1em;
	border:solid, 4px, black;
}

.courses {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.course {
	padding: 10px;
	border: 1px solid #00dba0;
	position: relative;
	padding-bottom: 40px;
	background-color:aliceblue;
}

.course h2{
	font-size: 1.2em;
}
.course .professor{
	display: grid;
	text-align: center;
	padding: 10px;
	background:aliceblue;
	right:0;
	margin:0;
	color:#0f121f
}

.course-detail .course{
	display: grid;
	text-align:center;
	padding: 0;
}

.course-detail .course h2{
	display: grid;
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
}

.course-detail .course p{
	text-align: center;
}

.site-form{
	margin-top: 60px;
	border: 1px solid aliceblue;
	padding: 20px;
	display:grid;
}

.site-form input, .site-form text{
	display: block;
	margin: 20px 0 0 0;
	padding: 10px;
}

a.highlight{
	border: 1px solid aliceblue;
	padding: 10px;
	border-radius: 4px;
	color:aliceblue;
}

.helptext, .helptext ul{
	margin:0 auto 20px;
	color:black;
	font-size:0.9em;
	display: block;
	text-align:center;
}

.errorlist li{
	padding: 10px;
	list-style-type: none;
	border: 1px solid red;
	background-color: white;
	color:red;
	margin: 10px 0;
}

.errorlist{
	padding: 0;
}

.site-form input[type="submit"]{
	background: aliceblue;
	border: 0;
	color:black;
	font-size: 1.2em;
	border-radius: 4px;
	margin:10px 0;
}
