*{
	font-family: "Courier New", Courier, monospace;
}

body{
	background-color:cornsilk
	color:black;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

p{
    text-align: center;
}

form.logout{
    border: 2px;
    padding: 4px 4px;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.searchForm{
    margin: 0% 1% 2% 1%;
}

h1, h2, h3, h4, h5{
	font_weight: normal;
	margin: 0;
}

a, a:hover, a:visited{
	color:black;
	text-decoration: none;
}

header.wrapper{
    background-color: dodgerblue;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 10%;
}

div.wrapper h1{
	text-align: center;
	margin: 100px auto;
	font-size: 2.4em;
}

header{
    display: inline-block;
}

nav{
    width: 100%;
    display: inline;
}

.courses {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.course {
	padding: 10px;
	border: 1px solid #008CBA;
	position: relative;
	padding-bottom: 40px;
	background-color:aliceblue;
}

.course h2{
	font-size: 1.2em;
}
.course .professor{
	display: grid;
	text-align: center;
	padding: 10px;
	background:aliceblue;
	right:0;
	margin:0;
	color:#0f121f
}

.course-detail .course{
	display: grid;
	text-align:center;
	padding: 0;
}

.course-detail .course h2{
	display: grid;
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
}

.course-detail .course p{
	text-align: center;
}

.site-form{
	margin-top: 60px;
	border: 1px solid aliceblue;
	padding: 20px;
	display:grid;
}

.site-form input, .site-form text{
	display: block;
	margin: 20px 0 0 0;
	padding: 10px;
}

.site-form input[type="submit"]{
	background: aliceblue;
	border: 0;
	color:black;
	font-size: 1.2em;
	border-radius: 4px;
	margin:10px 0;
}

a.highlight{
	border: 1px solid aliceblue;
	padding: 10px;
	border-radius: 4px;
	color:aliceblue;
}

.helptext, .helptext ul{
	margin:0 auto 20px;
	color:black;
	font-size:0.9em;
	display: block;
	text-align:center;
}

.errorlist li{
	padding: 10px;
	list-style-type: none;
	border: 1px solid red;
	background-color: white;
	color:red;
	margin: 10px 0;
}

.errorlist{
	padding: 0;
}

.button{
    background-color: white;
    border-radius: 4px;
    border: 2px solid #008CBA;
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
	background-color: #008CBA;
	color: white;
}
